<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweet & Eat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
</head>
<body>
    <main style="background-color: #7f5a83; background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand active text-white bg-primary p-2 rounded" href="/">Tweet & Eat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-primary" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="/use_case" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Use Case
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-white" href="/use_case">Cheesecake Factory</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="/sentiment_analysis" target="_blank">Analysis</a>
                </li>
              </ul>
            </div>
        </nav>
        <!-- <div class="text-center">
            <div class="m-5">
                <div class="p-3">
                    <h1 class="display-3 text-white">Tweet & Eat</h1>
                </div>
                <form method="POST" action="/result" role="form">
                    <div class="form-group">
                        <input name="searchterm" style="width:50%" type="text" class="row form-control align-items-center mx-auto mb-3" id="formGroupExampleInput" placeholder="Enter the name of the restaurant to analyze...">
                        <input name="searchzip" style="width:30%" type="text" class="row form-control align-items-center mx-auto mb-3" id="formGroupExampleInput" placeholder="Enter a city name...">
                        <p class="lead" >
                            <input class="btn btn-primary btn-lg" type="submit" role="button" value="Get Sentiment Score"/>
                        </p>
                    </div>
                </form>
            </div>
        </div> -->
        <div class="container">
            <div class="row mt-5 mb-3">
                <div class="col-12 text-white" style="font-size: large;">
                    <div class="p-3">
                        <h3>Why Tweet & Eat</h3>
                        <hr style="border-color: #f8f8f8;"/>
                        <p>Great companies strive to provide outstanding customer satisfaction like it's an additional product or service. Understanding the market's opinion about your business or brand name is extremely valuable to decision makers, but getting that information can be expensive and hard. Luckily for us, 330 million people around the world are already using Twitter to talk about their experiences.</p>
                        <p><strong>Tweet & Eat takes advantage of this fact to deliver an easy way for companies to guage consumer sentiment toward their brand or product based on what people are tweeting about it.</strong><p>
                    </div>
                    <div class="p-3">
                        <h3>Our Analytical Value</h3>
                        <hr style="border-color: #f8f8f8;"/>
                        <p>To demonstrate Tweet & Eat's analytical value, the Tweet and Eat algorithm was used to analyze sentiment trends of "Cheesecake Factory" during the first eight months of 2020. Over 60,000 tweets were subjected to the model.</p>
                        <img class="mb-3" src="../static/images/sentiment_trends.png" alt="Cheesecake Factory Sentiment Trends, 2020" style="width:100%; height:100%"/>
                        <p>After a noteworthy spike of negative tweets in March, sentiment has returned to baseline during the remainder of the year.</p>
                        <ul>
                            <li>What caused this spike in negative sentiment?</li>
                            <li>Could The Cheesecake Factory have acted differently during the pandemic to avoid this spike in negative sentiment?</li>
                        </ul>
                        <p>Tweet & Eat empowers decision makers to ask these questions and understand their business from a new perspective. This product is not solely confined to restaurants, the same principles can be applied to any keyword search term. Since our database consists of mainly restaurants and other businesses, we have restricted this web app to those industries.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="section-headers text-center">
                        <hr style="border-color: #f8f8f8;"/>
                        <p>Hand crafted by Logan Bonsignore</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>